{% extends "account/base.html" %}

{% load i18n socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "Sign Up" %}</h1>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign up with one
    of your existing third party accounts.<br>Or  sign up below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
      </div>

      <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you already have  an account , then please
    <a href="{{ login_url }}">sign in</a>{% endblocktrans %}</p>
    {% endif %}
  </div>

</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid mt-3">
            <button class="btn btn-dark" type="submit">{% trans "Sign Up" %}</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}